@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Student: @ViewData["Student"]</p>

<p><strong>More Information:</strong> <a href="mailto:@ViewData["Email"]">@ViewData["Email"]</a> </p>

